[submodule "chiadoge-blockchain-gui"]
	path = chiadoge-blockchain-gui
	url = https://github.com/chiadoge/chiadoge-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
